<body>     
    <div>
        <mat-card>
            <div class="profile-picture">
                <form action="#" method="post"></form>
            </div>
            <mat-card-header>
              <mat-card-title>Iniciar Sesión</mat-card-title>
            </mat-card-header><br>
            <mat-card-content>
              <form>
                    <mat-form-field>
                        <input matInput placeholder="Correo Electrónico" type="email">
                    </mat-form-field><br>
                    <mat-form-field>
                        <input matInput placeholder="Contraseña" type="password">
                    </mat-form-field><br>
                    <button mat-raised-button color="primary" >Iniciar Sesión</button>
              </form><br>
              <a routerLink="/registro">¿No tengo cuenta? Registrate Aqui</a>
              <a routerLink="/inicio">Ir a inicio</a>
            </mat-card-content>
        </mat-card>
    </div> 
</body>
