<body>
    <div>
        <mat-card>
            <mat-card-header>
              <mat-card-title>Registrarse</mat-card-title>
            </mat-card-header><br>
            <mat-card-content>
              <form>
                <mat-form-field>
                  <input matInput placeholder="Nombre" type="text">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Correo Electrónico" type="email">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Contraseña" type="password">
                </mat-form-field>
                <button mat-raised-button color="warn">Registrarse</button>
              </form><br>
              <a routerLink="/inicio-sesion">¿Ya tengo una cuenta? Ingrese Aqui</a>
            </mat-card-content>
        </mat-card>
    </div>
</body>
